.footer {
  padding: 2rem 0rem;
}

.footer .socials {
  margin-bottom: 1rem;
  text-align: center;
}

.footer .socials i {
  font-size: 1.8rem;
  display: inline-block;
  margin-left: 0.8rem;
}

.footer .slug {
  font-size: 0.8rem;
  text-align: center;
}

@media (max-width: 800px) {
  .footer-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .slug {
    text-align: center;
  }
}
