.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0rem 1rem 0rem;
}

.main-header a, .main-header button {
    color: black;
    display: inline-block;
    margin-left: 0.8rem;
    text-transform: capitalize;
}
.categories {
    text-align: center;
    margin-bottom: 1rem;
}

.main-header .menu {
    font-size: 1.6rem;
    cursor: pointer;
    display: none;
}

@media(max-width: 800px) {
    .main-header nav  {
        display: none;
    }

    .main-header .menu {
        display: block;
    }
}