.cart {
    width: 540px;
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 4rem;
    min-height: 70vh;
}

.cart img  {
 width: 150px;
}

.cart .item-unit {
    display: flex;
    margin-bottom: 2rem;
}

.cart .item-unit .content {
    margin-left: 1rem; 
}

.cart h1 {
    font-size: 1rem; 
    margin-bottom: 0.8rem;
}

.cart h2 {
    margin-bottom: 0.5rem;
}

.cart .item-unit button {

    background-color: rgb(232, 49, 49);
    color: white;
    font-size: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

.cart .item-unit button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.cart .button-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    height: 40px;
}

.cart .clear-cart {
    background-color: red;
    color: white;
}

.cart .place-order {
    background-color: black;
    color: white;
}